body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#logo {
    height: 2em;
    vertical-align: center;
}

pre#check-msg {
    overflow: auto;
    max-height: 80vh;
}

.navbar a:not(.navbar-brand) {
    color: #007bff !important;
}

#repos tr td:nth-child(1) a {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

#repos tr:hover td:nth-child(1) a {
    opacity: 1.0;
}

#config-readme h1 {
    font-size: 1.5rem;
}

#config-readme h2 {
    font-size: 1.4rem;
}

#config-readme h3 {
    font-size: 1.3rem;
}

#config-readme h4 {
    font-size: 1.2rem;
}

#config-readme h5 {
    font-size: 1.1rem;
}